
* {
        padding: 0;
        margin: 0;
}

.center-fit {
        max-width: 60%;
        max-height: 60vh;
        margin: auto;
}

.center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 80vh;
}