
body {
    min-height: 100vh;
}


.banner-bg {
    background-image:url('../assets/banner.jpg');
    background-repeat:repeat-x;
    background-size:contain;
    background-position:center;
}

.footer-bg {
    background-color: #174856;
}
